<h1>WoW Party Builder</h1>
<ul>
  <% @pg_search_models.each do |pg_search| %>
    <% if pg_search.searchable.respond_to?(:name) %>
    <li>  <%= pg_search.searchable.name %></li>
    <% else %>
      <li><%= pg_search.searchable.guild_name %></li>
    <% end %>
  <% end %>
</ul>
